body {
    width: 300px;
    margin: 0;

    background: #4a2e0c;
    color: #ffcd17;

    font-family: serif;

    .head {
        text-align: center;
        margin: 0.3em 0;
    }

    .logs {
        padding: 0;
        margin: 0;

        li {
            padding: 0.5em;
            margin: 3px;

            background: #83bbe2;
            color: white;

            font-size: 14px;
            line-height: 1.2em;

            border: 1px solid #2b85bd;
            border-radius: 4px;
        }
    }
}
